h1 {
    color: white;
    display: flex;
    justify-content: center;
    min-width: 400px;
    min-height: 40px;
}

.searchbar, #mat-autocomplete-0 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 400px;
    min-height: 100px;

    input {
        min-height: 30px;
    }
}

.formbox {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.greeting {
    color: white;
}

mat-accordion {
    background-color: white;
    color: white;
}

// .mat-expansion-panel-header {
//     // background-color: white;
//     border: white solid;
// }

mat-expansion-panel {
    border: solid white;
    min-width: 400px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.mat-option {
    min-height: 30px;
    max-height: 30px;
}