<h1>
    POLLUTION CHECKER
</h1>
<div class="searchbar">
    <p class="greeting">Please provide the name of the sought country: </p>
    <div class="formbox">
        <form>
            <input [(ngModel)]="countryPhrase" type="text" (keyup)="toSessionStorage($event)" [formControl]="control" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let country of filteredCountries | async" [value]="country" (click)="toSessionStorageClick()">
                        {{ country }}
                    </mat-option>
            </mat-autocomplete>
        </form>
        <button (click)="getCities()"> Search </button>
    </div>
</div>
<div>
    <mat-accordion *ngFor="let city of cities">

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                {{city.city}} {{ city.value | number }} {{city.unit}}
            </mat-expansion-panel-header>
        
            This the expansion 1 content
        
        </mat-expansion-panel>

    </mat-accordion>
</div>
