h1 {
    color: white;
    display: flex;
    justify-content: center;
    min-width: 400px;
    min-height: 40px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.searchbar, #mat-autocomplete-0 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 400px;
    min-height: 100px;
    font-family: Roboto,"Helvetica Neue",sans-serif;

    input,select,button {
        min-height: 30px;
        border: none;
        background: none;
        color: white;

        -webkit-box-shadow: 0px 4px 1px 0px rgba(199,199,199,1);
        -moz-box-shadow: 0px 4px 1px 0px rgba(199,199,199,1);
        box-shadow: 0px 4px 1px 0px rgba(199,199,199,1);
        -webkit-transition: box-shadow 0.3s;
        transition: box-shadow 0.3s;

        option {
            color: black;
        }
    }

    button, select, option {
        cursor: pointer;
    }

    button:hover {
        background-color: rgba(199,199,199,1);
        color: black;
    }

    button:active {
        background-color: #4EA6EA;
        color: white;
    }

    input:focus,select:focus {
        outline: none;
        box-shadow: 0px 4px 1px 0px #4EA6EA, 0px 4px 1px 0px #4EA6EA;
    }

    button:focus {
        outline: none;
    }
}

.formbox {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.greeting {
    color: white;
}

mat-accordion {
    background-color: white;
    color: white;
}

mat-expansion-panel {
    min-width: 400px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.mat-option {
    min-height: 30px;
    max-height: 30px;
}
