/* You can add global styles to this file, and also import other style files */

// body {
//     background-image: url('./assets/earth.png');
//     background-repeat: no-repeat;
//     width: 100%;
//     height: 100%;
// }

html { 
    background: url('./assets/earth.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  