@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html { 
    background: url('./assets/earth.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
